body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Light gray background for the body */
    box-sizing: border-box;
}
 
.container {
    z-index: 10;
    background-color: white;
    color: black;
    padding: 20px;
    /* max-width: 800px; */
    width: 800px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

.titleContainer {
    padding: 10px;
    width: 100%;
    overflow-wrap: break-word;
}

.titleContainer h1 {
    margin: 0;
    font-weight: bold;
    font-size: 3em; /* Larger font for the title */
    overflow-wrap: break-word;
    background: -webkit-linear-gradient(#0f2027, #203a43, #2c5364);
    color: transparent;
    background: linear-gradient(#0f2027, #203a43, #2c5364);
    background-clip: text;
}

.info {
    overflow-wrap: break-word;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

}

.info {
    font-weight: bold;
}

.description, .example{ word-wrap: break-word; padding: 20px; overflow-y: hidden; }
.description, .example { box-sizing: border-box; width: 100%;}

.example {
    font-style: italic;
}