@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima-nova-regular.woff2") format("woff2"),
    url("fonts/proxima-nova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Proxima Nova", sans-serif;
  align-items: center;
  font-weight: normal;
  min-height: 100vh;
  background-color: #f0f0f0; /* Light gray background for the body */
  box-sizing: border-box;
}

.container {
  z-index: 10;
  background-color: white;
  color: black;
  padding: 20px;
  /* max-width: 800px; */
  width: 800px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

.titleContainer {
  padding: 10px;
  width: 100%;
  overflow-wrap: break-word;
}

.titleContainer h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  overflow-wrap: break-word;
  background: -webkit-linear-gradient(#0f2027, #203a43, #2c5364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.type-text {
  margin-right: 10px;
}

.thinking-emoji {
  font-size: 1.2em; /* Adjust size as needed */
}

.info {
  overflow-wrap: break-word;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.description,
.example {
  word-wrap: break-word;
  padding: 20px;
  overflow-y: hidden;
}
.description,
.example {
  box-sizing: border-box;
  width: 100%;
}

.example {
  font-style: italic;
}
